/*Classes génériques*/
/* ---------- balises de base */
html {
    font-size: 0.9em;
    font-family:  Trebuchet MS, Helvetica,Arial, sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    color: #000000;
    background-color: #3D201C;
    background-image: url("../images/site/bdo_fond1.jpg");
    background-repeat: repeat-x;
    background-attachment:fixed;
    margin: 0;
    margin-top: 40px;
    padding: 0;
}

ul {
    list-style: disc outside;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color: #8F1204;
    cursor: pointer;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}

a:hover {
    color: #770000;
    text-decoration: underline;
}


a:active {
    text-decoration: overline;
}


h3,h3.a {
    color: #990000;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}

h2 {
    color: #990000;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

h1 {
    color: #990000;
    font-size: 22px;
    text-align: center;
    line-height: 1.4em;
}


input {
    font-size: 0.9em;
    font-style: normal;
    height: auto;
    width: auto;
}

textarea {
    border: 1px solid;
    padding: 3px;
}

/* ---------- fin balises de base */

/* ---------- entites par leur id */
#header {
    width: 90%;
    min-width: 920px;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0;
}

#content {
    width: 90%;
    min-width: 920px;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#footer {
    width: 90%;
    min-width: 700px;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 0.7em;
    clear: both;
}

/* searchtable */
#searchtable {
    margin: 0 0 3px 0;
    padding: 4px;
    float: left;
}

#searchtable ul {
    margin-top:-10px;
}

#searchtable ul li {
    display : inline;
}

#searchtable a {
    color : #FFF;
    background-color : #471C1C ;
    margin : 12px;
    padding : 8px;
    -moz-box-shadow: 2px 2px 8px #888;
    -webkit-box-shadow: 2px 2px 8px #888;
    box-shadow:2px 2px 6px #888;
    border-radius: 5px;
    font-size: 1.2em;
}

#searchtable a:hover {
    color : #fff;
    background-color : #6C3030 ;
    margin : 8px;
    padding : 12px;
    -moz-box-shadow: 4px 4px 12px #333;
    -webkit-box-shadow: 4px 4px 12px #333;
    box-shadow:4px 4px 8px #333;
}

#logo {
    float: left;
    margin: 0;
    padding: 0;
    width: 170px;
    margin-top: -5px;
}

#titre_prop_album {
    font-size: 1.3em;
}

#bienvenu {
    border-top: 1px solid #B64045;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.champ_avis {
    font-size: 0.9em;
}

.petite_police {
    font-size: 0.7em;
}

.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

.fond {
    background-color: #fff;
    opacity: 1;
    border-radius: 5px;
}

.fondNoir {
    background-color: #FFFFFF;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    -moz-box-shadow: 4px 4px 10px #888;
    -webkit-box-shadow: 4px 4px 8px #888;
    box-shadow:4px 4px 6px #888;
    border-radius: 5px;
}

hr.expSep {
    clear: both;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

td.bordure {
    background-color: #5D1614;
    height: 11px;
}

td.bord_gauche {
    /* background-image: url(images/site/gauche.gif);
     * background-repeat: repeat-y;
     */
    height: 13px;
    width: 13px;
}

#avertissement a {
    font-size: 1em;
}

#avertissement a:hover {
    text-decoration: none;
}

#titre_avertissement {
    color: #990000;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

#texte_avertissement {
    text-align: justify;
    padding: 5px;
}

/* Tableau page d'accueil*/
table.browser {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 13px;
}

.browser div {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
}

table.main {
    border-collapse: collapse;
    border: 0;
    padding-top: 5px;
    padding-bottom: 10px;
}

table.rubrique {
    border-collapse: collapse;
    border: 0;
    width: 100%;
}

td.leftframe {
    width: 150px;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: top;
}

/*Autres Tableaux*/
table.donnees {
    border-collapse: collapse;
    margin-bottom: 10px;
}

td.label {
    font-size: 1.1em;
}

table.table_form_public {
    width: 100%;
    border: 1px solid #FFFFCC;
    background-color: #DAC1B3;
}

.table_form_public td {
    padding: 3px;
}

.enonce_tr_form_public {
    color: #990000;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}

span.ftitle {
    font-weight: bold;
    color: #990000;
    text-align: center;
}

/* Table de menu */
table.menu {
    width: 150px;
    border: 0;
    border-collapse: collapse;
    padding: 0;
    border-spacing: 0;
}

/* Tableau de type tableur */
table.Tableur {
    border: Black;
    border-collapse: collapse;
}

td.EnteteTableur {
    background-color: #8B0000;
    color: #FFA500;
    font: Verdana;
    text-align: center;
}

td.DataTableur {
    background-color: #E5D7D1;
    color: #000000;
    font: Verdana;
    text-align: center;
}

a.menu {
    font-size: 14px;
    color: #FFFFFF;
}

a.menuGene:link {
    color: #880000;
    text-decoration: none;
    font-weight: bold;
}

a.menuGene:visited {
    color: #880000;
    text-decoration: none;
    font-weight: bold;
}

a.menuGene:hover {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

a.menuGene:active {
    text-decoration: none;
    font-weight: bold;
}

div.edito {
    font-size: 0.8em;
    /* letter-spacing: 1px;
    line-height: 15px;
    */
    background: #ECE1CD;
}

/*Headers*/
/* Formulaires */
input.textfield {
    border: 1px solid;
}

input.noborder {
    border: 0px solid;
}

.rub_title {
    position: relative;
    top: -0.5em;
    left: 53%;
    margin: 0;
}

.rub_title2 {
    position: relative;
    top: 0em;
    left: 30%;
    margin: 0;
}

.rub_title3 {
    position: relative;
    top: 12px;
    left: 73%;
}

/* Environnement du guest */
.MainPanel {
}

.GuestName {
    background-color: #C8857C;
    font: normal small-caps bold large Verdana;
    color: #990000;
    padding-left: 5px;
}

.AnnonceBD {
    background-color: #C8857C;
    font: normal bold Verdana;
    color: #000000;
    float: right;
    width: 250px;
}

.CarreMagique {
    border: 1px solid #fff;
    background-color: #fff;
    text-align:center;
}

.MenuGuest {
    background-color: #DAC1B3;
    padding: 5px 5px 5px 5px;
    color: Black;
    border: solid #B64045;
}

/*
* Environnement Public divers *
*/
td.entete {
    font-size: small;
    height: 25px;
    border: 1px solid Silver;
    border-collapse: collapse;
    background-color: #C8857C;
    padding-left: 5px;
}

td.data {
    font-size: small;
    height: 25px;
    border: 1px solid Silver;
    border-collapse: collapse;
    padding-left: 5px;
    background-color: #E7CCBD;
}

.cadre_fiche {
    width: 100%;
    border: 2px solid #FFFFCC;
    margin: 0;
    background-color: #DAC1B3;
}

.case_entete_fonce {
    background-color: #C8857C;
    color: #990000;
    font-weight: bold;
    font-size: 0.8em;
}

.case_fond_clair {
    background-color: #DAC1B3;
    font-size: 0.8em;
}

.champ_commentaire {
    font-size: 90%;
    width: 100%;
    height: 10em;
    border: 1px solid #888888;
}

/*
* Environnement Admin *
*/
/* Menu Admin */
#cadre_menu_admin {
    width: 100%;
    padding: 5px;
    background-color: #A34848;
    margin-bottom: 5px;
    text-align: left;
}

#cadre_menu_admin a {
    color: #DAC1B3 !important;
    font-weight: bold;
}

.hr_menu_admin {
    width: 80%;
    color: #DAC1B3;
}

.fond_admin {
    width: 100%;
    border: 2px solid #D35E5E;
    margin-top: 18px;
    padding: 0 0 0 5px;
    background-color: #A34848;
}

.status0{
    background-color: #E7CCBD !important;
}

.status1{
}

.status2{
    background-color: #FFDB70 !important;
}

.status3{
    background-color: #8374E7 !important;
}

.status4{
    background-color: #82FF70 !important;
}

.titre_admin {
    margin: 6px 0 5px 11px;
    font-size: 1.3em;
    font-weight: bold;
    color: #FFFFFF;
}

.date_before_valid {
    margin: 0 0 7px 14px;
    font-weight: bold;
    text-align: center;
}

.cadre_texte-admin {
    width: 100%;
}

.cadre_texte-admin td,td.cadre_texte-admin {
    background-color: #D35E5E;
    padding: 10px 5px 5px 10px;
}

.cadre_texte-admin td a,td.cadre_texte-admin a,.cadre_texte-admin td a:hover,td.cadre_texte-admin a:hover {
    color: #F7E4D9 !important;
}

/* Tableaux Admin */
.tableaux_admin {
    background-color: #F7D1BA;
    margin: 7px 0 7px 0;
    width: 99%;
}

.tableaux_admin td {
    border: 1px inset #DDDDDD;
    padding: 2px;
}

.tableaux_admin_sans-bord {
    width: 100%;
}

.tableaux_admin_sans-bord td {
    border: 0px;
    padding: 2px;
}

.textarea_description_edition {
    font-size: 90%;
    width: 100%;
    height: 7em;
    border: 1px solid #888888;
}

/* Désactivation de champ */
.champ_form_desactive,.champ_form_desactive_newfserie {
    background-color: #F7D1BA;
    border: 0;
}

.champ_form_desactivechamp_commentaire {
    font-size: 90%;
    width: 100%;
    height: 10em;
    background-color: #F7D1BA;
    border: 0;
}

td.entete_admin {
    height: 25px;
    border: 1px solid Silver;
    border-collapse: collapse;
    background-color: #C8857C;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
}

td.data_admin {
    height: 25px;
    border: 1px solid Silver;
    border-collapse: collapse;
    background-color: #E7CCBD;
    text-align: center;
    font-size: 0.9em;
}

td.data_admin_petit {
    height: 25px;
    border: 1px solid Silver;
    border-collapse: collapse;
    background-color: #E7CCBD;
    text-align: center;
    font-size: 0.8em;
}

td.original {
    background-color: #CCCCCC;
    font: 80%;
    border: 1px inset #DDDDDD;
    padding: 2px;
}

input.to_be_corrected,.to_be_corrected {
    background-color: #FF7B7B;
    border: 1px inset #DDDDDD;
    padding: 2px;
}

input.has_changed,.has_changed {
    background-color: #FFE759;
    border: 1px inset #DDDDDD;
    padding: 2px;
}

.submit {
    margin: 10px;
    text-align: center;
}

div.contenu {
    border: 0;
    padding-left: 5px;
    border-color: #B64045;
    line-height: 25px;
}

div.cadre1 {
    background-color: #ffffff;
    margin: 0 0 3px 0;
    padding: 5px;
    border-bottom: 1px dashed #bbbbbb;
    text-align : left;
    height:95%;
}

span.flabel {
    color: #990000;
    font-size: 10px;
}

div.contenu>.clear {
    clear: both;
    height: 0;
    overflow: hidden;

}

div.conteneuralb {
    width: 100%;
    padding-top: 15px;
    margin: auto;
    position: relative;
    float: left;
    background-color: #ffffff;
}

div.alb-fiche {
    float: left;
    width: 190px;
    padding-left: 10px;
}

div.alb-img {
    float: left;
    max-width: 190px;
    padding-left: 10px;
    margin-right: 10px;
}

div.contentalb {
    float: left;
    width: 340px;
}

div.synopsis {
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    width: 530px;
}

div.comment {
    margin-top: 20px;
    float: left;
    width: 530px;
    padding-left: 5px;
    padding-right: 5px;
}

div.action {
    float: left;
}

div.middle {
    float: left;
    width: 30%;
    text-align: center;
    padding-top: 5px;
    margin-left: 5px;
}

div.middle-align-left {
    float: left;
    width: 30%;
    text-align: left;
    padding-top: 5px;
    margin-left: 5px;
}

div.right {
    float: left;
    text-align: center;
    padding-top: 5px;
    width: 100%;
}

div.copyright {
    text-align: center;
    font-size: 0.7em;
    padding: 2px;
    max-width: 90px;
}

div.middle_content {
    padding-top: 1px;
    padding-bottom: 4px;
    float: left;
    width: 100%;
    margin: 0;
}

img.couvBig {
    border: 1px solid #000;
    max-height: 160px;
    width: 120px;
}

img.couvBigManque {
  border: 3px solid rgb(180, 89, 89);
  max-height: 160px;
  width: 120px;
}

img.couvBigExclue {
  border: 3px solid green;
  max-height: 160px;
  width: 120px;
}

img.couvMedium {
    border: 1px solid #000;
    height: 140px;
    width: 97px;
}

img.couvSmall {
    border: 1px solid #000;
    max-width:70px;
}
img.img-sponsor {
    height:25px;
}

div.top_content {
    padding-top: 5px;
    padding-right: 10px;
    float: left;
    width: 200px;
    margin: auto;
}

div.middle_title {
    
    background-color: rgba(143, 18, 4, 1);
    color: #FFFFFF;
    padding-left: 5px;
    border-radius:5px;

}

div.addthis {
    min-height: 26px;
}
.middle_title a {
    color: #FFFFFF;
}
.middle_title h3 {
    color: #FFFFFF;
}

#bienvenu {
    width: 81%;
    float: left;
}

/* style de la div d'accueil actualit? (partie droite) */
#actu2 {
    width: 150px;
    min-width: 150px;
    float: right;
    padding: 0;
}

#news {
    width: 100%;
    margin-top: 15px;
    border-top: 1px solid #B64045;
    padding-right: 0;
    padding-left: 0;
}

#top {
    margin: auto;
}

#actu {
    clear: left;
    width: 100%;
    margin-top: 0;
    margin-bottom: 5px;
}

#last {
    clear: left;
    width: 100%;
    margin-top: 0;
    margin-bottom: 5px;
}

div.idea {
    font-size : 0.9em;
    color : #555;
}

div.middle_list {
    float: left;
    width: 100%;
    padding: 5px;
}

#imgsearch {
    margin-bottom: -3px;
    padding: 3px;
    height: 16px;
    width: 100%;
}

/* bloc generic.css */
div.genTitle {
    text-align: center;
    background-color: #C8857C;
    font: normal small-caps bold 10pt Verdana;
    color: #990000;
    padding-left: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.genBlock {
    text-align: left;
    border: thin solid #C8857C;
    font: 8pt Verdana;
    padding: 2px 2px 2px 2px;
    margin: 3px 3px 3px 3px;
    background-color: #FAF0F0;
    padding-left: 10px;
    padding-right: 10px;
}


table.genTable {
    font: Verdana;
}

td.genTitle {
    padding: 2px 5px 2px 5px;
    background-color: #C8857C;
    width: auto;
    color: #990000;
    text-align: center;
}

td.genData {
    text-align: center;
    padding: 2px 5px 2px 5px;
}

/* fin bloc generic.css */
ul.menu {
    text-align: center;
    margin: 5px 0 0 0;
}

ul.menu li {
    display: inline;
}

ul.menu li a {
    border: 1px solid #fff;
    margin: 0px -5px 0px 0px;
    padding: 2px 7px 2px 7px;
    background-color: #CD6767;
    text-decoration: none;
    color: #fff;
}

ul.menu li a:hover {
    background-color: #000000;
}

font.pucenum {
    color: #999;
}

/* column container */
.colmask {
    position: relative;
    /* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
    clear: both;
    float: left;
    width: 100%;
    /* width of whole page */
    overflow: hidden;
    /* This chops off any overhanging divs */
}

.rightmenu .colleft {
    float: left;
    width: 200%;
    margin-left: -200px;
    position: relative;
    right: 100%;
    min-height: 600px;
}

.rightmenu .col1wrap {
    float: left;
    width: 50%;
    position: relative;
    left: 50%;
    padding-bottom: 1em;
}

.rightmenu .col1 {
    margin: 0 25px 0 200px;
    overflow: hidden;
    padding: 5px;
    border-radius:5px;
}

.rightmenu .col2 {
    float: right;
    width: 220px;
    position: relative;
    left: 210px;
    padding-right: 10px;
    border-radius:5px;
}

.fiche_album {
    font-size: 0.9em;
    color: rgba(107, 107, 107, 1);;
}

/* searchtable */
#openidProvider {
    padding : auto;
    border-top: 1px solid #CCCCCC;
    color : #fff;
    font-size : 0.8em;
}
#search {
    margin-left:10px;
    font-size:1.1em;
}


.pagination {
    font:12px Arial, Helvetica, sans-serif;
    margin:40px 0 0 90px;
}

.pagination a {
    background:#fff;
    border:1px solid #000;
    color:#990000;
    margin:2px;
    padding:.2em .4em;
    text-decoration:none
}

.pagination a:hover {
    background:#fff;
    border:1px solid #bd88fe;
    color:#bd88fe
}

.pagination span.inactive {
    background:#fff;
    border:1px solid #000;
    color:#f0f0ff;
    margin:2px;
    padding:.2em .4em
}

.pagination span.active {
    background:#f4ebff;
    border:1px solid #bd88fe;
    color:#bd88fe;
    font-weight:700;
    margin:2px;
    padding:.2em .4em
}

#results{
    margin-left:90px;
    list-style-type:circle
}

#onglets {
    font : bold 2em;
    list-style-type : none;
    padding-bottom : 28px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}

#onglets li {
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
    padding: 2px 2px 2px 2px;
}

#onglets li.active {
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a {
    display: block;
    color: #101D44;
    text-decoration: none;
    padding: 0px 1em;
    font-weight: bold;
}

#onglets a:hover {
    background : #fff;
}

#menu {
    border-bottom : 1px solid #9EA0A1;
    padding-bottom : 25px;
}

#info_collection {
    clear:both;
}

table.list_album {
    height:100%;
    width:100%;
}

table.list_album td {
    height:95%;
    padding: 1px;
}

table.list_album tr {
    height:100%;
}

.mw50{
    max-width:50%;
}
.mw70{
    max-width:70%;
}
.mw30{
    max-width:32%;
}

.left{
    float:left;
    margin-left:5px;
    padding-left:5px;
}

.fright{
    float:right;
    margin-left:5px;
    padding-left:5px;
}

.fiche_big{
}

.couvleft {
    float:left;
    margin-left: 5px !important;
}

.textleft {
    float:left;
    font-size:0.9em;
}

#list-last-critique {
    border-spacing: 5px;
}

#carre_magique {
    width: 300px;
    border-width: 0px;
}
#imgEdition {
    max-width:180px;
}
div.textmasked {
    overflow: hidden;
    max-height: 120px;
    position: relative;
}
 .read-more {
    
  
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 10px 0; 	
  
  

}
@media screen and (max-width: 1200px) and (min-width:768px) {
    .colleft {
        float: left;
        width: 200%;
        margin-left:0px !important;
       
        position: relative;
        right: 100%;
        min-height: 600px;
    }
    .col1 {
        /*overflow: hidden;*/
        padding: 5px;
        border-radius: 5px;
         margin-right: 200px !important;
        margin: 0px 25px 0px 0px !important;
    }
    #logo {
        display:none;
    }
    .col2 {
        display:none;
    }
    
}

@media screen and (max-width: 920px), screen and (max-device-width: 768px) {
    body {
        margin-top:1em !important;
    }

    .cadre1 {
        padding:0px !important;
    }

    #searchtable{
        padding:0px 4px 0px 0px !important;
    }

    .colleft {
        float: left;
        width: 200%;
        margin-left: 0px !important;
        position: relative;
        right: 100%;
        min-height: 600px;
    }

    .col1 {
        /*overflow: hidden;*/
        padding: 5px;
        border-radius: 5px;
        margin: auto !important;
    }

    .col2 {
        
        float: left !important;
        width: 50% !important;
        position: relative !important;
        left: 50% !important;
       padding: 5px !important;
        border-radius: 5px !important;
        margin: auto !important;
    }
    #lastajout {
        display:none;
    }
    #message_accueil {
        display:none;
    }

    #header {
        width: 100% !important;
        margin: auto !important;
        padding: 0px !important;
        min-width: 0 !important;
    }

    #search {
        width : 80% !important;
        margin-left:0px !important;
    }
    #img_loupe {
        display:none;
    }
   
    
    #aideheader  {
        display:none;
    }
    #content {
        width: 100% !important;
        margin: auto !important;
        min-width: 0 !important;
    }

    #list-last-critique thead {
        display:none;
    }

    #list-last-critique thead {
        display:none;
    }

    #list-last-critique>tbody>tr>td {
        display:block;
    }

    #list-last-critique>tfoot>tr>td{
        display:block;
    }

    table.list_album>tbody>tr>td {
        display:block;
    }

    table.list_album>tbody>tr{
        display:block;
    }

    table.list_album>tbody {
        display:block;
    }

    td.mw50 {
        max-width: 100% !important;
    }

    .mw30 {
        max-width: 50% !important;
    }

    .couvleft {
        margin-right : 0px !important;
        padding-left: 1em;
    }

    #logo {
        display:none;
    }

    #footer {
        min-width: 0px;
    }

    .contentalb {
        width : 95% !important;
        margin:0 2px;
    }

    .comment {
        width : 100% !important;
    }

    .listcomment {
        width:95%;
    }

    .synopsis{
        width : 100% !important;
        padding:20px 0px !important;
        margin: 0px 2px !important;
    }

    #alb-description{
        padding-top: 2em;
    }

  

    a[id="inline"] {
        display:none;
    }

    .pagination {
        margin: 0px !important;
    }

    #album_as {
        display:none;
    }

    .scrollauto {
        overflow:auto;
    }

    #carre_magique {
        width: 100%;
        border-width: 0px;
    }
}

@media screen and (max-width: 680px), screen and (max-device-width: 667px) {
    body {
        /*overflow:hidden !important;*/
        width:100%;
        font-size:1.1em;
    }

    label[for=rb_mode4] {
        display:none !important;
    }

    label[for=rb_mode0] {
        display:none !important;
    }

    label[for=rb_mode1] {
        display:none !important;
    }

    label[for=rb_mode5] {
        display:none !important;
    }

    #select_genre{
        display:none;
    }
    #onglets > li:nth-child(10) {
        display:none;
    }
    #onglets > li:nth-child(9) {
        display:none;
    }

    #onglets > li:nth-child(7) {
        display:none;
    }

    #onglets > li:nth-child(8) {
        display:none;
    }

    /*#onglets > li:nth-child(4) {
        display:none;
    }*/

   /* td[class="colselect"] {
        display: none!important;
    }*/

    ul.ui-autocomplete {
        width:100%;
        height: 500px !important;
        max-height:640px;
        font-size: 1.2em;
    }

    ul.ui-autocomplete-category:focus {
        border:1px solid #898989;
        background:#855a28 url(images/ui-bg_highlight-hard_30_855a28_1x100.png) 50% 50% repeat-x;
        color:#fff
    }

    table.browse {
        font-size: 1.2em;
    }
}

/* Filtres Mes Auteurs */
#typeAlbum {
  float: left;
  border: none;
}
#typeTravail {
  border: none;
}
