SetEnv PHP_VER 5_3

# On suit les liens symboliques
Options +FollowSymlinks

# page erreur personnalisee
Options -Indexes
# URL relative du fichier d'erreur (par rapport à l'URL du serveut, e.g. http://beta.bdovore.com/)
ErrorDocument 403 /erreur.php?error=403
ErrorDocument 404 /erreur.php?error=404

# Activation du mod rewrite d'Apache
RewriteEngine On
# ne pas oublier pour pointer vers la base url en local, par exemple pour http://localhost/beta:
# RewriteBase /beta/ 
RewriteRule !\.(js|ico|gif|jpg|png|css|html|htm|xml|wsdl) index.php [NC,L]
