.oftAclRole, .oftAclRoleTitle, .oftAclResource, .oftAclResourceTitle, .oftAclPrivilege, .oftAclResourcePrivilege, 
.oftAclLegacyDirect, .oftAclLegacyPossible, .oftAclLegacyIndirect, 
.oftAclAccess, .oftAclAccessAllow, .oftAclAccessAllowLegacy, .oftAclAccessDeny, .oftAclAccessDenyLegacy, .oftAclAccessON {
	text-align : center;
}
.oftAclRole, .oftAclResource, .oftAclPrivilege, .oftAclLegacyDirect, .oftAclLegacyPossible, .oftAclLegacyIndirect, 
.oftAclAccess, .oftAclAccessAllow, .oftAclAccessAllowLegacy, .oftAclAccessDeny, .oftAclAccessDenyLegacy, .oftAclAccessON,
.oftAclLegacyDirectON {
	cursor : pointer;
}
.oftAclResourceAll, .oftAclPrivilegeAll {
	text-align : right;
}

.oftAclRole, .oftAclRoleTitle {
	background-color: #666666;
	color: #ffffff;
}
.oftAclResource, .oftAclResourceTitle {
	background-color: #FFFF99;
	color: #000000;
}
.oftAclResourceAll {
	background-color: #FFFF33;
	color: #000000;
}
.oftAclPrivilege {
	background-color: #FFCC99;
	color: #000000;
}
.oftAclPrivilegeTitle {
	background-color: #FFCC33;
	color: #000000;
}
.oftAclPrivilegeAll {
	background-color: #FFCC66;
	color: #000000;
}

.oftAclLegacyDirect {
	background-color: #ff3333;
	color: #ffffff;
}
.oftAclLegacyDirectON {
	background-color: #992222;
	color: #ffffff;
}
.oftAclLegacyPossible {
	background-color: #eeeeee;
	color: #ffffff;
}
.oftAclLegacyImpossible {
	background-color: #bbbbbb;
	color: #ffffff;
}
.oftAclLegacyIndirect {
	background-color: #fec5b1;
	color: #ffffff;
}

.oftAclAccess {
	background-color: #eeeeee;
	color: #aaa;
}
.oftAclAccessAllow {
	background-color: #0000ff;
	color: #ffffff;
}
.oftAclAccessAllowLegacy {
	background-color: #ccccff;
	color: #000000;
}
.oftAclAccessDeny {
	background-color: #ff0000;
	color: #ffffff;
}
.oftAclAccessDenyLegacy {
	background-color: #ffcccc;
	color: #ffffff;
}

.oftAclAccessON {
	background-color: #666;
	color: #fff;
}
